*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  text-align: center; 
  background-color: rgb(30, 1, 57);
  color:rgb(209, 4, 72);

}
p{
  color: yellow;
  font-size: 20px;
}
h2{
  background-color: goldenrod;
  color: rgb(239, 9, 109);
  text-align: center;
  margin-bottom: 20px;
}
h3{
  color: aquamarine;
}
button{
  outline: none;
  /* border: none; */
  cursor: pointer;
  background-color: aqua;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(252, 98, 2);
  font-size: 20px;


}
button:hover{
  background-color: aquamarine;
  color: rgb(244, 5, 81);
}
