@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'League Spartan', sans-serif;
  text-align: center; 
  color:rgb(209, 4, 72);

}
body{
  background-color: rgb(36, 2, 66);
}
p{
  color: yellow;
  font-size: 20px;
}
h1{
  margin-top: 10px;
}
h2{
  background-color: goldenrod;
  color: rgb(239, 9, 109);
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}
h3{
  color: aquamarine;
}
button{
  outline: none;
  /* border: none; */
  cursor: pointer;
  background-color: aqua;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(252, 98, 2);
  font-size: 20px;


}
button:hover{
  background-color: aquamarine;
  color: rgb(244, 5, 81);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(245, 110, 52);
  position: sticky;
  top: 0;
}

ul{
  list-style: none;
  margin-right: 20px;
}
ul a{
  text-decoration: none;
  color:white;
  margin-right:30px;
  font-weight: 600;
  text-transform: uppercase;
}
ul a:hover{
  text-decoration: underline;
  color: rgb(150, 244, 20);
}
.logo img{
  width: 80px;
  height: 80px;
  object-fit: fill;
  margin-bottom: 30px;
  margin-left: 10px;
}